{% extends 'base.html' %}
{% block title %}Chair Data{% endblock %}

{% block content %}
<body>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="/chair" method="POST">
                    <div class="search-container">
                        <input
                            type="text"
                            class="form-control search-input"
                            name="user_search"
                            placeholder="Search..."
                            required
                        >
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        <th>Datetime</th>
                        <th>Back Left</th>
                        <th>Back Right</th>
                        <th>Bottom Left</th>
                        <th>Bottom Right</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in user_chair_data %}
                    <tr>
                        <td>{{ row.datetime }}</td>
                        <td>{{ row.chair_back_left }}</td>
                        <td>{{ row.chair_back_right }}</td>
                        <td>{{ row.chair_bottom_left }}</td>
                        <td>{{ row.chair_bottom_right }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
    {% endblock %}
